{:datomic-name "taxonomy_local"
 :datomic-cfg {:server-type :peer-server
               :access-key  "myaccesskey"
               :secret      "mysecret"
               :endpoint    "localhost:8998"}
 :database-url "datomic:dev://localhost:4334/taxonomy_v13"
 }
